[submodule "lwip/lwip"]
	path = lwip/lwip
	url = https://github.com/SuperHouse/esp-lwip.git
[submodule "axtls/axtls"]
	path = axtls/axtls
	url = https://github.com/SuperHouse/axtls.git

[submodule "extras/mqtt_embed_c/mqtt"]
	path = extras/mqtt_embed_c/mqtt
	url = https://git.eclipse.org/r/paho/org.eclipse.paho.mqtt.embedded-c
